@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins,san-serif;
}
main{
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color: #e6f2ff;
}
.container{
    width:400px;
    text-align:center;
    background-color: white;
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
h1{
    margin-top:25px;
}
.user-interaction{
    margin-top:25px;
    margin-bottom:25px;

}
#place{
    padding:7px;
    border-radius:8px;
    /* border:none; */
}
button{
    padding:10px;
    color:white;
    background-color: #5f5fe3;
    border:none;
    border-radius: 8px;
    font-weight: 500;
}
#weather-results{
    max-height:0px;
    opacity:0;
    overflow:hidden;
    transition: max-height 0.5s ease-out, opacity 0.3s ease-in;
}
#weather-results.active {
    max-height: 500px;
    opacity: 1;
    margin-bottom:25px;
}
.data-container {
    padding: 0 25px;
}
.data-row{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #8e8080;
    padding:12px 10px;
}
.data-row:last-child {
    border-bottom: none;
}
.label {
    font-weight: 500;
    color: #555;
    text-transform: capitalize;
}
.value{
    font-weight: 600;
    color: #111;
    text-transform: capitalize;
}
#weather-icon{
    height:100px;
    width:100px;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.4));
}
#error-message {
    color: red;
    font-weight: 500;
    margin: 15px 0;
}
#search:hover{
    background-color: #7777e3;
}

/* div{
    border: 3px solid red;
} */